<a href="https://colab.research.google.com/github/beatriz0freitas/PL/blob/main/PL_EX01_Python_Crash_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EX01: Python Crash Course

## Language Processing

## LEI/2025-26

#### Nuno Macedo
Universidade do Minho

# Introduction to Python

- **High-level, interpreted language**: focuses on rapid development, with no separate user-visible compilation step

- **Simple but expressive syntax**: prioritizes readability; indentation defines block structure, and the core syntax has relatively few constructs

- **Multi-paradigm**: supports imperative, object-oriented, and functional programming styles

- **Dynamic typing and automatic memory management**: types are checked at runtime; memory is managed by the runtime system

- **Rich ecosystem**: large standard library and massive third-party package ecosystem

- **Suitable for learning language processing**:
  - native support for regular expressions (`re`)
  - lightweight libraries for implementing lexers and parsers (`ply`)

Since Python is an interpreted language, you can evaluate any expression directly. You can run the code snippet below directly, or after calling the `python` interpreter in your local terminal.

In [ ]:
17 * 0.6 + 19 * 0.2

14.0

# Python basics

- Python programs manipulate *values* (or *objects*)

- Each value has a data *type* determined at runtime

- Variables assign *names* to certain values

- There is no variable declaration in Python, they are created when assigned a value with `=`

- Atomic built-in types include `int`, `float`, and `bool`

- The type of a value can be inspected with the built-in functions `type()` or tested with `isinstance()`

- Single-line comments are introduced with `#`; there are no multi-line comments

ðŸ“Œ The built-in function `print()` is the simplest way to send values to standard output

In [ ]:
print(type(10))
print(type(10.0))
print(type(10.1))
print(type(True))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>

In [ ]:
print(isinstance(10,int))
print(isinstance(10,float))

True
False

In [ ]:
x = 10
print(x, type(x))
x = 10.1
print(x, type(x))

10 <class 'int'>
10.1 <class 'float'>

## Integers and floats

- Atomic numeric types are `int` (unbounded integers) and `float` (finite-precision reals)

- Arithmetic operations:  addition `+`, subtraction `-`, multiplication `*`, (real) division `/`,  integer division `//`, remainder `%`, exponentiation `**`

- Also supports incremental assignments (e.g., `+=` or `/=`)

- In mixed-type expressions there is implicit conversion from `int` to `float` when needed

- Module `math` provides additional mathematical functions (see [documentation](https://docs.python.org/3/library/math.html))

In [ ]:
# real division, type conversion
3 / 5

0.6

In [ ]:
# integer division
3 // 5

0

In [ ]:
x = 10
# incremental assignment
x *= 20
print(x)

200

## Booleans

- Type `bool`, only contains two values: `True` and `False`

- Logical operators: conjunction (`and`), disjunction (`or`), negation (`not`)
  - They implement *short-circuit* evaluation

- Comparison operators: equality (`==`), difference (`!=`), less than (`<`), greater than (`>`),
  less than or equal (`<=`), greater than or equal (`>=`)
  - Comparisons can be chained

- Logical operators work on *truth values*, not just Booleans

In [ ]:
x = 10
print(x > 10 or x < 10)
print(6 <= x <= 15)

False
True

âš ï¸ Be careful about certain possibly misleading Boolean expressions

In [ ]:
# "or" returns the first non-false value
print(3 == (5 or 3))
print(3 == (3 or 5))

False
True

## Control structures

- Code is organized into *blocks*, introduced by a colon `:` and delimited by indentation

- Makes code visually clear, but makes indentation syntactically significant

- Conditionals (`if`/`elif`/`else`) and loops (`while`, `for`) are block-structured constructs whose execution depends on a Boolean expression

- Loops control flow can be changed by `break` (immediately terminate the loop) or `continue` (immediately jump to the next iteration) statements

- Modern Python also provides structural pattern matching (`match`/`case`) for control based on the structure of values

### Conditionals

In [ ]:
# conditionals
x = 10
y = 20
z = 30
if x > y:
  print(x)
elif y > z:
  print(z)
else:
  print(x)

10

âš ï¸ Beware of block indentantion

In [ ]:
x = 10
y = 20
z = 30
if x > y:
  if x > z:
    print(z)
else:
  print(x)

10

In [ ]:
x = 10
y = 20
z = 30
if x > y:
  if x > z:
    print(z)
  else:
    print(x)

### `while` loops

In [ ]:
# while loops
x = 10
while x < 10000:
  x = x * 10
  print(x)
print(-x)

100
1000
10000
-10000

âš ï¸ Beware of block indentantion

In [ ]:
x = 10
while x < 10000:
  x = x * 10
print(x)
print(-x)

10000
-10000

In [ ]:
x = 10
while x < 10000:
  x = x * 10
  print(x)
  print(-x)

100
-100
1000
-1000
10000
-10000

In [ ]:
x = 10
while x < 10000:
  x = x * 10
  print(x)
    print(-x)

IndentationError: unexpected indent (ipython-input-1046246227.py, line 5)

ðŸ“Œ `for` loops are used to iterate over collections, which will be addressed later

## Conditional expressions

- Conditional expressions compute one of two values based on a condition
  - `value1 if condition else value2`

- They are expressions, not statements: they produce a value

- Different from conditional structures (`if` / `else`), which control the execution of blocks

- Useful for simple conditional assignments and inline value selection

In [ ]:
x = 10
y = 30
r = y / 2 if x > 0 else y * 2
print(r)

15.0

## Defining functions

- Functions are defined using the keyword `def` and have a block-structured body

- A function may return a value using `return`; if omitted, it returns `None`

- `None` is a special value representing the absence of information, and the sole inhabitant of type `NoneType`

- Parameters can be passed positionally or by keyword
  - Passing parameters by keyword is mostly used for optional arguments

- Parameters may have default values, making them optional

ðŸ“Œ Parameters can also be passed as unpacked colletions, which will be addressed later

In [ ]:
# definition
def double(n):
  return 2 * n

In [ ]:
# function call
print(double(10))

20

In [ ]:
# function composition
print(double(double(10)))

40

In [ ]:
# definition with optional argument
def double(n, offset=10):
  return 2 * n + offset

In [ ]:
print(double(5))

20

In [ ]:
print(double(5, 20))

30

In [ ]:
# definition with two optional arguments
def double(n, offset=10, factor=2):
  return factor * n + offset

In [ ]:
print(double(5))

20

In [ ]:
# positional arguments if all optional arguments used
print(double(5,23,30))

173

In [ ]:
# keyword arguments if only a few optional arguments used
print(double(5,factor=30))

160

In [ ]:
# keyword arguments are always allowed, but not good practice
print(double(factor=30,n=5,offset=23))

173

## ðŸ”¬ Keywords vs built-ins

- *Keywords* are part of the language syntax (e.g. `if`, `def`, `while`, `match`) and cannot be redefined

- *Built-in names* (e.g. `print`, `type`) refer to objects provided by the runtime environment

- Built-in names are not keywords and can be rebound (although doing so is usually discouraged)

## ðŸ›  Exercises (basic types and control)

In [ ]:
def break_seconds(secs):
  """
  Break the given number of seconds into days, hours, minutes and remaining seconds.

  >>> break_seconds(10)
  (0, 0, 0, 10)

  >>> break_seconds(3620)
  (0, 1, 0, 20)

  >>> break_seconds(17492173)
  (202, 10, 56, 13)
  """
  return None

In [ ]:
def reverse_number(number):
  """
  Reverse the given integer number using ONLY arithmetic operations.

  >>> reverse_number(12345)
  54321

  >>> reverse_number(758148293)
  392841857

  >>> reverse_number(1)
  1

  >>> reverse_number(12321)
  12321
  """
  return None

Exercises use the module `doctest` for automatic testing.

In [ ]:
import doctest
doctest.run_docstring_examples(break_seconds, globals())
doctest.run_docstring_examples(reverse_number, globals())

# Complex data types

- Python provides built-in data structures for organizing and manipulating collections of values

- These structures differ in ordering, mutability, and access patterns

- But collection types share some characteristics:
  - Are iterable with `for` loops
  - Their size can be retrieved with built-in function `len()`
  - Other built-in functions like `sum()`, `any()` or `zip()`
  - Can be tested for membership using `in`
  - Can store heterogeneous values (except strings)

## Iterating collections

- The most common way to iterate over a collection is using a `for` loop

- A `for` loop iterates over all elements of a collection and then terminates

- What counts as an element depends on the collection; many collections provide multiple ways to iterate

- The built-in function `enumerate()` pairs each element with its index

- The built-in type `range()` generates sequences of integer values for iteration
  - `range(i,j,s)` creates values from `i` up to `j` (exclusive) with increments of `s`

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(13,20):
  print(i)

13
14
15
16
17
18
19

In [ ]:
for i in range(10,20,2):
  print(i)

10
12
14
16
18

In [ ]:
for i in enumerate(range(20,10,-2)):
  print(i)

(0, 20)
(1, 18)
(2, 16)
(3, 14)
(4, 12)

## Sequences

- Sequence types (strings, tuples, lists) organize values sequentially, indexes starting from `0`

- Elements are accessed by *indexing*
  - `s[i]` for element `i`

- Sequences can also be *sliced* to obtain a sub-collection
  - `s[i:j]` for elements from `i` up to `j`, exclusive
  - `s[i:j:k]` for elements from `i` up to `j`, exclusive, with increments of `k`
  - indexes may be omitted, `s[:i]` or `s[i:]`

- Negative indexes start from the end of the sequence

- Concatenation with `+` operator
  - Also supports incremental assignments with `+=`

- Comparison operators are defined, use an lexicographic order

- Sequence repetition with `*`

### Strings

- Strings (`str`) are *immutable* sequences of characters

- Python has no separate character type; indexing a string produces a string of length 1

- The delimiters can be `"` or `'`; when you use one, the other can appear in the text
  - Empty string is `""` or `''`

- Built-in functions `ord()` and `chr()` used to convert between Unicode value

- Many useful operations are provided as methods of `str` (see [documentation](https://docs.python.org/3/library/stdtypes.html#str))

- Strings are the primary representation of source text in language processing

In [ ]:
# indexing
s = "Too Long; Didn't Read"

print(s[0])
print(s[4])
print(s[10])
print(s[17])

T
L
D
R

In [ ]:
# slicing
s = "don't forget you're here forever"

print(s[0:2], s[3:5], s[6:9], s[20:23])

do 't for her

In [ ]:
# immutability
s = "The Bear"
s[6] = "e"

TypeError: 'str' object does not support item assignment

In [ ]:
# concatenation
s = "hodor"

print(s+s)

hodorhodor

In [ ]:
# repetition
s = "hodor"

print(10*s)

hodorhodorhodorhodorhodorhodorhodorhodorhodorhodor

In [ ]:
# built-in str methods
s = "There is no cake."
s = s.replace("cake", "lie")
print(s)
s = s.upper()
print(s)

There is no lie.
THERE IS NO LIE.

In [ ]:
# membership tests
print("CAKE" in s)
print("LIE" in s)

False
True

In [ ]:
# recall immutability, methods return new string
s.replace("LIE", "CAKE")
print(s)

THERE IS NO LIE.

In [ ]:
# comparisons, lexicographic (char-by-char)
print("diglett" < "dugtrio")
print("DUGtrio" < "diglett")
print("Mewtwo" > "Mew")
print("Mew" < "Mewtwo")

True
True
True
True

In [ ]:
# "for" loop iteration
result = ""
for c in "Strategic Homeland Intervention, Enforcement and Logistics Division":
  if c.isupper():
    result = result + c + "."
print(result)

S.H.I.E.L.D.

âš ï¸ Beware of operator types

In [ ]:
x = 10
y = "hello"
print(x+x)
print(y+y)
print(x+y)

20
hellohello

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### ðŸ”¬ Formatted strings

- *f-strings* provide a concise way to embed expression values in strings

- Such strings are prefixed with an `f"..."`, and expressions to be evaluated provided between curly braces `{` `}`

- Expressions are evaluated at runtime

- Support formatting and alignment of values

- Improve readability compared to manual string concatenation

In [ ]:
name = "Monty Python"
birth = 1969
print(f"{name} is {2026-birth} years old.")

Monty Python is 57 years old.

### ðŸ›  Exercises (strings)

In [ ]:
def reverse_str(s):
  """
  Reverse the given string WITHOUT using any auxiliary methods or functions.

  >>> reverse_str("Hello World")
  'dlroW olleH'

  >>> reverse_str("Erised stra ehru oyt ube cafru oyt on wohsi")
  'ishow no tyo urfac ebu tyo urhe arts desirE'

  >>> reverse_str("siht ekil dnuos I dna mra eht ma I")
  'I am the arm and I sound like this'

  >>> reverse_str("?")
  '?'
  """
  return None

doctest.run_docstring_examples(reverse_str, globals())

In [ ]:
def camel_case(s):
  """
  Convert the given string into camel case: remove all non-alphabetic
  characters, and only characters after a non-alphabetic characters are
  ppercase, except the first.

  >>> camel_case("simple_case_of_camel_case")
  'simpleCaseOfCamelCase'

  >>> camel_case("ALL YOUR BASE ARE BELONG TO US")
  'allYourBaseAreBelongToUs'

  >>> camel_case("well&%/this%$#escalated q(u)i-c kly")
  'wellThisEscalatedQUICKly'
  """
  return None

doctest.run_docstring_examples(camel_case, globals())

In [ ]:
def caesar_cipher(shift, text):
  """
  Shift each character in the given text according to the given value. You can
  assume only lower case characters. Leave other characters unchanged.

  >>> caesar_cipher(5, "hello")
  'mjqqt'

  >>> caesar_cipher(3, "keep it quiet...")
  'nhhs lw txlhw...'

  >>> caesar_cipher(50, "x marks the spot")
  'x marks the spot'
  """
  return None

doctest.run_docstring_examples(caeser_cipher, globals())

### Tuples

- Tuples are heterogeneous sequences (can contain elements of different types)

- Like strings, tuples are immutable

- Support most sequence operations, except those specific to text manipulation

- Tuples are delimited by parentheses `(` `)`:
  - Empty tuple: `()`
  - Single-element tuple: `(x,)` (comma is required)
  - Can be omitted in certain situations

- Immutability makes tuples suitable as keys in dictionaries or elements of sets

In [ ]:
student = ("Frodo Baggins", 2968, "The Shire", True)
print(len(student))           # length
print(True in student)        # membership
print("The Shire" in student) # membership
print(student[0])             # indexing
print(student[0:3])           # slicing

4
True
True
Frodo Baggins
('Frodo Baggins', 2968, 'The Shire')

In [ ]:
# iteration
def final(grades):
  total = 0
  for grade in grades:
    if grade < 10:
      return "R"
    total += grade
  average = total / len(grades)
  return average

print(final((13,15,11))) # one parenthesis for function call, another for tuple definition
print(final((13,1,11)))

13.0
R

### Lists

- Lists are heterogeneous sequences like tuples, but *mutable*

- Elements can be changed, removed, or inserted

- Lists are delimited by square brackets `[` `]`
  - Empty list is `[]`

- Type `list` provides many useful methods (see [documentation](https://docs.python.org/3/library/stdtypes.html#lists))

- Mutability allows more flexible behavior but may introduce side effects

- Lists cannot be used as dictionary keys or set elements

In [ ]:
# list definition
avengers = ["Iron Man", "Captain America", "Thor", "Hulk", "Black Widow", "Hawkeye"]
print(avengers)

['Iron Man', 'Captain America', 'Thor', 'Hulk', 'Black Widow', 'Hawkeye']

In [ ]:
# element update
avengers[1] = "Cap"
print(avengers)

['Iron Man', 'Cap', 'Thor', 'Hulk', 'Black Widow', 'Hawkeye']

In [ ]:
# element insertion at the end
avengers.append("Quicksilver")
print(avengers)

['Iron Man', 'Cap', 'Thor', 'Hulk', 'Black Widow', 'Hawkeye', 'Quicksilver']

In [ ]:
# element insertion at index
avengers.insert(1,"Scarlet Witch")
print(avengers)

['Iron Man', 'Scarlet Witch', 'Cap', 'Thor', 'Hulk', 'Black Widow', 'Hawkeye', 'Quicksilver']

In [ ]:
# extension with another collection
avengers.extend(["Vision", "Spider-Man"])
print(avengers)

['Iron Man', 'Scarlet Witch', 'Cap', 'Thor', 'Hulk', 'Black Widow', 'Hawkeye', 'Quicksilver', 'Vision', 'Spider-Man']

In [ ]:
# you cannot add elements like this
avengers[10] = "Star-Lord"

IndexError: list assignment index out of range

In [ ]:
# element removal by name
avengers.remove("Quicksilver")
print(avengers)

['Iron Man', 'Scarlet Witch', 'Cap', 'Thor', 'Hulk', 'Black Widow', 'Hawkeye', 'Vision', 'Spider-Man']

In [ ]:
# element removal by index
del avengers[4]
print(avengers)

['Iron Man', 'Scarlet Witch', 'Cap', 'Thor', 'Black Widow', 'Hawkeye', 'Vision', 'Spider-Man']

In [ ]:
# element removal by index returning element
e = avengers.pop(5)
print(e)

Hawkeye

In [ ]:
# slicing also modifies lists
avengers[1:7] = []
print(avengers)
avengers[1:1] = ["Rocket", "Nebula"]
print(avengers)

['Iron Man']
['Iron Man', 'Rocket', 'Nebula']

### Modifying methods

- For mutable values, some methods modify the object they are called on

- These *modifiers* contrast with pure functions, which return new values without side effects

- Modifying methods typically return `None`

- This makes side effects explicit and discourages chaining

In [ ]:
lst = [1,2,3]
lst = lst.append(4)
print(lst)

None

### Nested sequences

- Tuples and lists can be *nested* to an arbitrary depth

- Sequences can contain other sequences as elements

- Each sub-sequence is treated as a single element of the outer sequence

- Elements are accessed by chained indexing
  - `x[0][2]` for third element of first element

- Nested sequences are often used to represent structured data (e.g. matrices, trees)

In [ ]:
students = [
    ["Alice", 1998, "Gualtar", True],
    ["Bob", 1999, "AzurÃ©m", True],
    ["Charlie", 1996, "MIA", False]
]

print(len(students), "students")

for name, year, place, active in students:
  print(name,"-",place)

3 students
Alice - Gualtar
Bob - AzurÃ©m
Charlie - MIA

In [ ]:
def add_matrices(m1, m2):
  if len(m1) != len(m2) or len(m1[0]) != len(m2[0]):
    return None
  result = []
  for row in range(len(m1)):
    line = []
    for col in range(len(m1[0])):
      line.append(m1[row][col] + m2[row][col])
    result.append(line)

  return result

add_matrices([[3,5,4], [2,4,4], [2,5,6]],[[1,5,8], [2,0,4], [3,6,0]])

[[4, 10, 12], [4, 4, 8], [5, 11, 6]]

### ðŸ”¬ Sequence unpacking

- Allow unpacking a sequence through pattern matching

- If regular elements, must match length of tuple

- More advanced, the unpacking operator `*` matches a sequence of elements

- Can also be used to pass arguments to a function as a list

In [ ]:
def pretty_print(character):
  name, year, place, alive = character
  print(name, "was born in", year, "in", place)

pretty_print(["Frodo Baggins", 2968, "The Shire", True])

Frodo Baggins was born in 2968 in The Shire

In [ ]:
def pretty_print(character):
  name, year, place = character
  print(name, "was born in", year, "in", place)

pretty_print(["Frodo Baggins", 2968, "The Shire", True])

ValueError: too many values to unpack (expected 3)

In [ ]:
def pretty_print(character):
  name, *info = character
  print(name, ":", info)

pretty_print(["Frodo Baggins", 2968, "The Shire", True])

Frodo Baggins : [2968, 'The Shire', True]

In [ ]:
def pretty_print(name, year, place):
  print(name, "was born in", year, "in", place)

pretty_print(*["Frodo Baggins", 2968, "The Shire"])

Frodo Baggins was born in 2968 in The Shire

In [ ]:
print(["Frodo Baggins", 2968, "The Shire"])
print(*["Frodo Baggins", 2968, "The Shire"])

['Frodo Baggins', 2968, 'The Shire']
Frodo Baggins 2968 The Shire

ðŸ“Œ Dictionaries can also be unpacked, as we will see later

### ðŸ›  Exercises (tuples and lists)

In [ ]:
import math

def quadratic_formula(a, b,c):
  """
  Implement the quadratic formula to solve axÂ² + bx + c = 0. Result should be a tuple with 0, 1 or 2 elements.

  >>> quadratic_formula(1, -5, 6)
  (3.0, 2.0)

  >>> quadratic_formula(2, -7, 3)
  (3.0, 0.5)

  >>> quadratic_formula(2, -8, 8)
  (2.0,)

  >>> quadratic_formula(10, 20, 30)
  ()
  """
  return None

doctest.run_docstring_examples(quadratic_formula, globals())

In [ ]:
def change(amount):
  """
  Break down the given amount of cents in the smallest number of 200, 100, 50,
  20, 10, 5, 2, 1 cent coins.  Note: this is not a knapsack problem, you can be
  greedy.

  >>> change(350)
  [(200, 1), (100, 1), (50, 1)]

  >>> change(200)
  [(200, 1)]

  >>> change(1998)
  [(200, 9), (100, 1), (50, 1), (20, 2), (5, 1), (2, 1), (1, 1)]

  >>> change(0)
  []
  """
  return None

doctest.run_docstring_examples(change, globals())

In [ ]:
def path(grid, instructions):
  """
  You are given a rectangular grid and a set of instructions (U, D, L, R).
  Determine the path traversed when starting at position (0,0) and following the
   instructions. If it goes outside the grid, return None.

  >>> path(("###","#?#","###"),["D","R"])
  '##?'

  >>> path(("ðŸŒ±ðŸ’£ðŸŒ±ðŸ’£","ðŸŒ±ðŸŒ±ðŸª™ðŸ’£","ðŸŒ±ðŸ’£ðŸª™ðŸŒ±"),["D", "R", "R", "D", "U", "D", "U"])
  'ðŸŒ±ðŸŒ±ðŸŒ±ðŸª™ðŸª™ðŸª™ðŸª™ðŸª™'

  >>> path(("SUDH","OSJF","SOSI"), ["D", "R", "L", "D"])
  'SOSOS'

  >>> path(("SUDH","OSJF","SOSI"), ["D", "L", "L", "D"])

  """
  return None

doctest.run_docstring_examples(path, globals())

## Aliasing

- Aliasing occurs when multiple variables refer to the same value

- Assignment in Python never copies values; it only creates new bindings

- For mutable values (such as lists), a change through one variable affects all others referring to that value

- Aliasing impacts operations such as assignment and (shallow) copying of a list

In [ ]:
a = [1,2,3]
b = a
a[1] *= 10
print(b)
b.append(-1)
print(a)

[1, 20, 3]
[1, 20, 3, -1]

In [ ]:
students = [
    ["A", 1998, "X"],
    ["B", 1999, "Y"]
]
# make a copy of the outer list
students_copy = students.copy()
students_copy.pop()
print(students)
print(students_copy)

# but for the elements, it just copies the values
students_copy[0][0] = "??"
print(students)

[['A', 1998, 'X'], ['B', 1999, 'Y']]
[['A', 1998, 'X']]
[['??', 1998, 'X'], ['B', 1999, 'Y']]

## Reading input

- The easiest way to get input from users is with the built-in function `input()`

- `input()` always returns a string

- Numeric input must be explicitly converted

In [ ]:
name = input("Enter your name: ")
print("General", name, "!")

Enter your name: M
General M !

## Type conversions

- Python provides type conversion functions with the same name as the target type

- Allows converting strings into other values (e.g. `int`, `float`, `bool`)

- Allows converting collections into other collection types (e.g. `list`, `tuple`, `set`)

- Converting a float to `int` truncates toward zero; use `round()` for rounding

- Type conversions may fail at runtime and raise exceptions

- Other relevant type conversions are between lists and strings with `split()` and `join()`

In [ ]:
n = None
while not n:
  s = input("Inert a number: ")
  if s.isdigit():
    n = int(s)

print(2*n)

Inert a number:
Inert a number:
Inert a number: Hello?
Inert a number: 20
40

In [ ]:
a = 10.77
print(int(a))
print(round(a))
print(round(a,1))

10
11
10.8

In [ ]:
info = (1,2,3)
info = list(info)
info[1] = 10
info = tuple(info)
print(info)

(1, 10, 3)

In [ ]:
text = "it's-dangerous-to-go-alone!"
lst = text.split("-")
print(lst)
print(len(lst), "words")
text = " ".join(lst)
print(text)

["it's", 'dangerous', 'to', 'go', 'alone!']
5 words
it's dangerous to go alone!

## Dictionaries

- Dictionaries (`dict`) are associative collections mapping *keys* to *values*

- Keys must be unique, values may be repeated

- Keys must be hashable (immutable types such as strings, numbers, tuples)

- This makes dictionary access very efficient

- Values can be of any type

- Access, insertion, and update are performed using keys (see [documentation](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict))

- Iteration operations act on keys
  - Method `values()` or `items()` to also iterate values

- Dictionaries are delimited by curly brackets `{` `}`, key-value pairs defined with `:`
  - The empty dictionary is `{}`

- Commonly used to represent mappings, environments, and symbol tables

In [ ]:
# dictionary definition
d = { "John": 10, "Jane": 20, "Mary": None }
print(d)

{'John': 10, 'Jane': 20, 'Mary': None}

In [ ]:
# access
print(d["John"])

10

In [ ]:
# accessing non-existing keys throws an exceptions
print(d["JOHN"])

KeyError: 'JOHN'

In [ ]:
# to avoid exceptions, use get() with default value
print(d.get("JOHN", "???"))

???

In [ ]:
# insertion
d["Mike"] = 5
print(d)

{'John': 10, 'Jane': 20, 'Mary': None, 'Mike': 5}

In [ ]:
# update
d["Mike"] = 15
print(d)

{'John': 10, 'Jane': 20, 'Mary': None, 'Mike': 15}

In [ ]:
# removal
del d["Mike"]
print(d)

{'John': 10, 'Jane': 20, 'Mary': None}

In [ ]:
# removal with value returned
v = d.pop("Jane")
print(v)

20

In [ ]:
# iteration
for k in d:
  print(k, "has", d[k], "things")

John has 10 things
Mary has None things

In [ ]:
# iteration over key/value pairs
for k, v in d.items():
  print(k, "has", v, "things")

John has 10 things
Mary has None things

## Sets

- Sets (`set`) are unordered collections of unique elements

- Elements must be hashable

- Support standard set operations: union `|`, intersection `&`, difference `-`

- Membership testing is very efficient

- Sets are delimited by curly brackets `{` `}`
  - The empty dictionary is `set()` (because `{}` is a dictionary)

- Many useful operations (see [documentation](https://docs.python.org/3/tutorial/datastructures.html#sets))

- Useful for eliminating duplicates and representing collections of states or symbols

In [ ]:
# set definition
seen = { "Movie", "Movie II", "Movie: The Return" }
print(seen)

{'Movie: The Return', 'Movie II', 'Movie'}

In [ ]:
# adding elements
seen.add("Movie Yet Again?")
print(seen)

{'Movie: The Return', 'Movie Yet Again?', 'Movie II', 'Movie'}

In [ ]:
# no repetition
seen.add("Movie II")
print(seen)

{'Movie: The Return', 'Movie Yet Again?', 'Movie II', 'Movie'}

In [ ]:
# cannot select specific element, no order
print(seen[2])

TypeError: 'set' object is not subscriptable

In [ ]:
# set operations
seen_also = { "Movie", "Enough of Movie", "Movie: The Return" }
print(seen | seen_also)
print(seen & seen_also)
print(seen - seen_also)

{'Movie: The Return', 'Movie Yet Again?', 'Movie II', 'Enough of Movie', 'Movie'}
{'Movie: The Return', 'Movie'}
{'Movie Yet Again?', 'Movie II'}

## ðŸ”¬ Iterators

- An *iterator* is an abstract object that represents a stream of elements from a collection, producing one element at a time

- All Python collections are iterable, meaning they can provide an iterator via `iter(collection)`

- Iterators are stateful: they remember their current position, and only move forward

- Retrieve elements one by one using `next()`, raises `StopIteration` when exhausted

- `for` loops internally use iterators provided by iterables

- The `itertools` module extends this abstraction with composable and lazy iterators,
   - infinite sequences (`count()`, `cycle()`)
   - combinatorial tools (`chain()`, `islice()`, `combinations()`, `permutations()`)

In [ ]:
l = [1,2,3]
it = iter(l)
print(it)

<list_iterator object at 0x7db338805870>

In [ ]:
print(next(it))
print(next(it))
print(next(it))
print(next(it))

1
2
3

StopIteration:

## ðŸ›  Exercises (dictionaries and sets)

In [ ]:
def vigenere_cipher(key, text):
  """
  Swap each character in the given text according to the given key dictionary.
  If a character is not in the key, use a ?.

  >>> vigenere_cipher({"a" : "x", "b" : "y", "c" : "h", "e" : "m", "l" : "f", "o" : "b"}, "hello")
  '?mffb'

  >>> vigenere_cipher({}, "what?")
  '?????'

  >>> vigenere_cipher({"a" : "x", "m" : "s", "p" : "h", "s" : "m", " " : " ", "o" : "b", "r" : "w", "k" : "v", "t" : "a", "e" : "b", "h" : "w"}, "x marks the spot")
  '? sxwvm awb mhba'
  """
  return None

doctest.run_docstring_examples(vigenere_cipher, globals())

In [ ]:
def swap_dictionary(d):
  """
  Swap the keys/values of the given dictionary. Since values may be repeated, the new dictionary will have a list of keys as values.

  >>> swap_dictionary({"a" : "b", "b" : "c", "c" : "d", "d" : "e", "e" : "f", "f" : "b"})
  {'b': ['a', 'f'], 'c': ['b'], 'd': ['c'], 'e': ['d'], 'f': ['e']}

  >>> swap_dictionary({"Jan": "Winter", "Fev": "Winter", "Mar": "Spring", "Apr": "Spring", "Dec": "Winter", "Jul" : "Summer"})
  {'Winter': ['Jan', 'Fev', 'Dec'], 'Spring': ['Mar', 'Apr'], 'Summer': ['Jul']}

  >>> swap_dictionary({"Arya": "Stark", "Sansa": "Stark", "Jon": "Stark", "Cersei": "Lannister", "Jaime": "Lannister", "Tyrion": "Lannister"})
  {'Stark': ['Arya', 'Sansa', 'Jon'], 'Lannister': ['Cersei', 'Jaime', 'Tyrion']}
  """
  return None

doctest.run_docstring_examples(swap_dictionary, globals())

In [ ]:
def iso_strings(s1, s2):
  """
  Two strings are isomorphic if there is each character in one corresponds
  exactly to a character in the other. Determine if two strings are isomorphic,
  and return that correspondence if that is the case. Otherwise, return None.

  >>> iso_strings("CABAC","WXYXW")
  {'C': 'W', 'A': 'X', 'B': 'Y'}

  >>> iso_strings("HAL9000","XZY7999")
  {'H': 'X', 'A': 'Z', 'L': 'Y', '9': '7', '0': '9'}

  >>> iso_strings("HELLO","JELLO")
  {'H': 'J', 'E': 'E', 'L': 'L', 'O': 'O'}

  >>> iso_strings("HELLO","HELMO")

  """
  return None

doctest.run_docstring_examples(iso_strings, globals())

In [ ]:
def relational_composition(r1, r2):
  """
  Implement relational composition between two binary relations. A and B are
  related by composition the composition R.S if R relates A to some C that is
  related to B vy S. Consider relations to be sets of pairs.

  >>> relational_composition({("A","C")}, {("C","B")})
  {('A', 'B')}

  >>> relational_composition({("A","C"),("B","C")}, {("C","B"),("C","X")})
  {('A', 'B'), ('B', 'B'), ('A', 'X'), ('B', 'X')}

  >>> relational_composition({("A","C"),("B","Y")}, {("C","B"),("Y","X")})
  {('A', 'B'), ('B', 'X')}

  >>> relational_composition({("A","C"),("B","C")}, {("B","C")})
  set()
  """
  return None

doctest.run_docstring_examples(relational_composition, globals())

# Functional programming in Python

- Python supports a functional programming style alongside imperative and object-oriented ones

- Functions are first-class values

- Emphasis on expressions rather than statements, *what* to do rather than *how* to do it

- Functional constructs are often used to process collections and streams of data

## Recursion

- A function can call itself, directly or indirectly

- Recursive functions must define at least one base case to terminate

- Each recursive call creates a new stack frame with its own local variables

- Python does not perform tail-call optimization

- The maximum recursion depth is limited and can be inspected or changed (`sys.getrecursionlimit()`)

In [ ]:
def sum_rec(lst):
  if lst == []:
    return 0
  else:
    return lst[0] + sum_rec(lst[1:])

print(sum_rec([5,2,5,7,8]))

27

## ðŸ›  Exercises (recursion)

In [ ]:
def flatten(nested):
  """
  Flatten a nested list into a flat list.

  >>> flatten([[1,2],[3,4]])
  [1, 2, 3, 4]

  >>> flatten([1,2,3])
  [1, 2, 3]

  >>> flatten([[2,4,5,[3,5],[2,4]],[2,4,[9,6]],7])
  [2, 4, 5, 3, 5, 2, 4, 2, 4, 9, 6, 7]
  """
  return None

doctest.run_docstring_examples(flatten, globals())

In [ ]:
def max_path(tree):
  """
  Assume a binary tree defined as nested pairs, until leaves represented by
  None. Calculate the path that gives the maximum sum of values.

  >>> max_path((10,(30,None,None),(50,None,None)))
  [10, 50]

  >>> max_path((10,(30,(40,None,None),None),(50,None,None)))
  [10, 30, 40]

  >>> max_path((10,(30,(40,None,None),None),(50,(44,None,None),(76,None,None))))
  [10, 50, 76]

  >>> max_path((10,None,None))
  [10]
  """
  return None

doctest.run_docstring_examples(max_path, globals())

## Higher-order functions

- Functions can be passed as arguments to other functions

- Functions can be returned as results of other functions

- Sometimes it is useful to use anonymous, `lambda` functions

- Many useful opererations in `functools` module (see [documentation](https://docs.python.org/3/library/functools.html))

- Module `operator` provides operators as functions to be used as values (see [documentation](https://docs.python.org/3/library/operator.html))
  - E.g., operator `+` is function `operator.add()`

- Higher-order functions enable abstraction over behavior

In [ ]:
def deriv(f,h):
  """
  Returns function df(x) that approximates the derivative of f(x) for a given
  small h.
  """
  def df(x):
    return round((f(x+h) - f(x))/h, 3)
  return df

# derivative of xÂ² should be (approximately) 2x
def sq(x): return x*x

d_sq = deriv(sq,0.0001)

print("f(10):", d_sq(10))
print("df(10):", d_sq(20))

f(10): 20.0
df(10): 40.0

## Sorting lists

- Method `sort()` is a modifier that sorts a list

- It can take, as an optional argument, a `key` function to determine the sorting criteria

- This makes it a higher-order function

- Builti-in function `sorted()` returns a new sorted list, rather than modifying the existing

In [ ]:
fruits = [("Kiwis", 40), ("Apples", 200), ("Pears", 150), ("Bananas", 120)]
# use default order on pairs
fruits.sort()
print(fruits)

[('Apples', 200), ('Bananas', 120), ('Kiwis', 40), ('Pears', 150)]

In [ ]:
# define second element as key
def second(pair):
  return pair[1]
fruits.sort(key=second)
print(fruits)

[('Kiwis', 40), ('Bananas', 120), ('Pears', 150), ('Apples', 200)]

In [ ]:
# define negative second element as key
fruits.sort(key=lambda pair: -pair[1])
print(fruits)

[('Apples', 200), ('Pears', 150), ('Bananas', 120), ('Kiwis', 40)]

In [ ]:
# sort() is a modifier
print(fruits.sort())

# sorted() creates a new list
print(sorted(fruits))

None
[('Apples', 200), ('Bananas', 120), ('Kiwis', 40), ('Pears', 150)]

## Maps, filters, folds

- Built-in higher-order fuctions to manipulate collections

- `map(f, xs)` applies a function to each element of a collection

- `filter(p, xs)` selects elements satisfying a predicate

- These functions are lazy, return iterators that can only be used once

- `reduce(f, xs)` is the fold operation, combines elements using a binary function (needs `functools` module)
  - optional initializer for the result as `reduce(f, xs, i)`, otherwise first element of collection

In [ ]:
fruits = [("Kiwis", 40), ("Apples", 200), ("Pears", 150), ("Bananas", 120), ("Oranges", 90)]
double = map(lambda pair: 2*pair[1], fruits)
print(double)
double_list = list(double)
print(double_list)
print(double)

<map object at 0x7db33883c610>
[80, 400, 300, 240, 180]
<map object at 0x7db33883c610>

In [ ]:
lows = filter(lambda pair: pair[1] < 100, fruits)
print(list(lows))

[('Kiwis', 40), ('Oranges', 90)]

In [ ]:
double_lows = map(lambda pair:2*pair[1], filter(lambda pair: pair[1] < 100, fruits))
print(list(double_lows))

[80, 180]

In [ ]:
from functools import reduce

def aggregate(rest, new):
  fruits, total = rest
  return fruits + [new[0]], total + new[1]

agg = reduce(aggregate, fruits, ([],0))

print(agg)

(['Kiwis', 'Apples', 'Pears', 'Bananas', 'Oranges'], 600)

## Comprehensions

- Compact syntax for constructing collections (e.g., lists or dictionaries)

- Combine mapping and filtering in a single expression

- Often clearer and more idiomatic than `map` and `filter`

- Preserve the order of the original sequence

- Can also be lazy, returning an iterator rather than a new collection

In [ ]:
fruits = [("Kiwis", 40), ("Apples", 200), ("Pears", 150), ("Bananas", 120), ("Oranges", 90)]
double_lows = [2*c for p, c in fruits if c < 100]
print(double_lows)

[80, 180]

In [ ]:
fruits = [("Kiwis", 40), ("Apples", 200), ("Pears", 150), ("Bananas", 120), ("Oranges", 90)]
double_lows = (2*c for p, c in fruits if c < 100) # lazy
print(double_lows)
print(tuple(double_lows))

<generator object <genexpr> at 0x7db338836330>
(80, 180)

In [ ]:
dict_low_fruits = {p : c for p, c in fruits if c < 100}
print(dict_low_fruits)

{'Kiwis': 40, 'Oranges': 90}

## ðŸ”¬ Closures

- A *closure* is a function object that remembers values from its enclosing scope, even if that scope has finished executing

- Typically arise when a function returns another function or is used as a callback

- Enclosed variables are captured by reference, not by value â€” the inner function keeps access to them

In [ ]:
def make_adder(n):
    def adder(x):
        return x + n  # remembers 'n'
    return adder

add5 = make_adder(5)
print(add5(10))

15

âš ï¸ Closures keep references to variables, not their values, which may be confusing

In [ ]:
funcs = []
# variable "i" changes in the loop
for i in range(3):
    def f():
        return i
    funcs.append(f)

print([fn() for fn in funcs])

[2, 2, 2]

In [ ]:
funcs = []
# to fix it, create a new variable "i" that has value "i"
for i in range(3):
    def f(i=i):
        return i
    funcs.append(f)

print([fn() for fn in funcs])

[0, 1, 2]

## ðŸ”¬ Partial application

- Python does not support partial function application natively, but through method `partial` of `functools`

- It returns a new function where some arguments are already bound

In [ ]:
from functools import partial

duplicator = partial(map,lambda x: 2*x)

print(list(duplicator([1,2,3,4])))
print(list(duplicator([13,13,53,14])))

[2, 4, 6, 8]
[26, 26, 106, 28]

## ðŸ›  Exercises (collections with FP)

In [ ]:
def passing_students(students):
  """
  Filter the students that have a passing grade (average >= 10) and return their
  first and last name. Try to use the functional programming style.

  >>> passing_students([("Harry James Potter", (7, 12, 3)),("Hermione Jean Granger", (4, 19, 8)),("Ronald Bilius Weasley", (11, 2, 17))])
  ['Hermione Granger', 'Ronald Weasley']

  >>> passing_students([("Luke Skywalker of Tatooine", (5, 14, 9)), ("Leia Organa of Alderaan", (6, 3, 20)), ("Anakin Skywalker of Tatooine", (13, 7, 1))])
  []

  >>> passing_students([("Peter Benjamin Parker", (9, 4, 12)), ("Diana Prince of Themyscira", (15, 8, 6)), ("Clark Joseph Kent", (2, 17, 11))])
  ['Clark Kent']
  """
  return None

doctest.run_docstring_examples(passing_students, globals())

In [ ]:
def polyalphabetic_cypher(shift, text):
  """
  Implement a polyalphabetic substitution cypher that receives the shift as an
  arbitrary function that, given an index position and a character, returns
  another character.

  >>> polyalphabetic_cypher(lambda i,j: chr(ord(j)+i), "hello world")
  'hfnos%}vzun'

  >>> polyalphabetic_cypher(lambda i,j: chr((ord(j)*2*i)%24+ord("A")), "hello world")
  'AKAAAIMSAAI'

  >>> polyalphabetic_cypher(lambda i,j: j, "hello world")
  'hello world'
  """
  return None

doctest.run_docstring_examples(polyalphabetic_cypher, globals())

# Exception handling

- Exceptions signal *runtime* errors or exceptional conditions during execution

- Exceptions may be raised by Python automatically, or explicitly with `raise`

- Exceptions are handled using `try`â€“`except` blocks
  - Optionally `else` (executed if no exception occurs) and `finally` (always executed)

- Exceptions have types (e.g. `ValueError`, `TypeError`, `KeyError`) and can be caught selectively

- Unhandled exceptions propagate up the call stack and terminate the program

In [ ]:
def pos_int(s):
  n = int(s)
  if n < 0:
    raise ValueError("Not a positive number")
  return n

In [ ]:
# no exception
pos_int("10")

10

In [ ]:
# exception raised by int() propagated
pos_int("a10")

ValueError: invalid literal for int() with base 10: 'a10'

In [ ]:
# exception raised by pos_int()
pos_int("-10")

ValueError: Not a positive number

In [ ]:
# exception caught and printed gracefully
try:
  pos_int("-10")
except ValueError as e:
  print("Got an error! Message:", e)

Got an error! Message: Not a positive number

# Input and Output

- Programs interact with the outside world through input and output

- Standard streams: reading from keyboard (`stdin`), writing to console (`stdout`)

- Files: persistent storage and retrieval of data

- IO is central for processing text, data, and streams of information

## File handling

- Files are accessed using the built-in function `open(path, mode)`

- The `mode` specifies how the file is opened
  - `r` read, `w` write (truncate), `a` append, `x` create
  - Optional `b` (binary) and `t` (text, default)

- Files are read and written using methods such as `read()`, `readline()`, `readlines()`, and `write()`

- Files should be closed to release system resources
  - The `with` statement ensures automatic closing

- File access may fail due to permissions, missing files, or invalid paths, raising exceptions (e.g. `FileNotFoundError`, `PermissionError`)

In [ ]:
# open a file cinema.json (already uploaded to the notebook) and print its length
with open("cinema.json") as movies_file:
  lines = movies_file.readlines()
  print(len(lines), "movies")
  print(lines[42])

52 movies
  {"title": "Blade Runner 2049", "year": 2017, "cast": ["Ryan Gosling", "Harrison Ford", "Ana de Armas"], "genres": ["Sci-Fi", "Thriller"]},

## Standard input and output

- The built-in functions `input()` and `print()` provide a simple interface to `stdin` and `stdout` streams

- For more control, Python exposes standard streams as file-like objects

- These are lower-level, no automatic formatting

- `stdin`, `stdout` and `stderr` are available through module `sys`

- Using streams directly allows programs to process piped input and redirect output

```python
import sys

for line in sys.stdin:
    process(line)
```

```python
import sys

for line in result:
  sys.stdout.write(line)
```

âš ï¸ Files and streams are not well-supported within these interactive notebooks, but are the proper way to manage IO in a proper standalone program

## ðŸ›  Exercises (files)

For these exercises, consider file `alunos.csv`, a CSV file with a header line, which is already uploaded to this notebook (you can `open` it)

In [ ]:
def num_students():
  """
  Read file "alunos.csv" and count the number of students.

  >>> num_students()
  100
  """
  return None

doctest.run_docstring_examples(num_students, globals())

In [ ]:
def process_students():
  """
  Read file "alunos.csv" and process the data into a dictionary from student
  ids to a tuple contained the rest of the information.

  >>> process_students()["a1"]
  ('Aysha Melanie Gilberto', 'LEI', (12, 8, 19, 8))

  >>> process_students()["a14"]
  ('Kaylla Pessego', 'LCC', (10, 14, 17, 15))

  >>> process_students()["a31"]
  ('Eva Manuel Caio', 'ENGFIS', (12, 16, 20, 16))
  """
  return None

doctest.run_docstring_examples(process_students, globals())

In [ ]:
def best_average():
  """
  Finds the students with best average in alunos.csv.

  >>> best_average()
  'a80'
  """
  return None

doctest.run_docstring_examples(best_average, globals())

In [ ]:
def good_average():
  """
  Find all students with average higher than 15 in alunos.csv.

  >>> len(good_average())
  30
  """
  return None

doctest.run_docstring_examples(good_average, globals())

# Basics of object-oriented programming in Python

- Classes define new types using the `class` keyword and group data with behavior

- Methods are functions defined inside a `class`; the first parameter is object on which the method was called, conventionally `self`

- By default, all methods are instance methods

- Object creation and initialization are handled by the constructor method `__init__`

- Python has no enforced visibility: naming conventions indicate intent
  - public (`x`), "protected" (`_x`), "name-mangled" to avoid clashes (`__x`)

In [ ]:
class Hero:
    # class-level attribute
    _heroes_created = 0

    def __init__(self, name, power):
        # instance attributes
        self.name = name
        self.__power = power
        Hero._heroes_created += 1

    # instance method
    def reveal_power(self):
        return f"{self.name} has power {self.__power}"

    # class method
    def total_heroes():
        return Hero._heroes_created

h1 = Hero("Arya", 95)
h2 = Hero("Jon", 90)

print(h1.reveal_power())          # instance method
print(Hero.total_heroes())        # class method

Arya has power 95
2

In [ ]:
h1.__power # doesn't exist

AttributeError: 'Hero' object has no attribute '__power'

In [ ]:
h1._Hero__power # actually just name-mangled

95

## Inheritance in Python

- A class can inherit from one or more parent classes, gaining their attributes and methods

- Child classes can override parent methods

- `super()` calls the parent method from the child

In [ ]:
# child class
class SuperHero(Hero):
    def reveal_power(self):
        base = super().reveal_power()  # call parent method
        return f"{base} and is unstoppable!"

h1 = SuperHero("Arya", 95)
print(h1.reveal_power())

Arya has power 95 and is unstoppable!

-- Nuno Macedo